# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3

# Archivos estáticos recolectados
staticfiles/

# Archivos temporales
*.log
*.pid
*.seed