<!DOCTYPE html>
<html>
<head>
    <title>Plataforma de Gestión de Tareas</title>
    <style>
        body {
            background-color: beige;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        h1 {
            font-size: 60px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{ message }}</h1>
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }} | <a href="{% url 'logout' %}">Cerrar sesión</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
    {% endif %}
<h2>Proyectos</h2>

<h2>Tareas</h2>

<h2>Habilidades</h2>

<h2>Ofertas de Empleo</h2>

<h2>Datos del Mercado</h2>

</body>
</html>